{{!-- <form method="POST" action="/editAlmacen/{{almacen.id}}">
Nombre:
<input name="nombre" value="{{almacen.nombre}}">
<br>
Localidad:
<input name="localidad" value="{{almacen.localidad}}">
<br>

<input type="submit" value="Cambiar">

</form> --}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Modificación Almacén</h3>
                </div>
                <div class="card-body">
                    <form action="/editAlmacen/{{almacen.id}}" method="POST">
                        <div class="form-group">
                             Nombre: 
                        <input name="nombre" type="text" value="{{almacen.nombre}}" class="form-control" required>
                        </div>
                        <br>
                        <div class="form-group">
                            Localidad:
                            <input type="text" name="localidad" value="{{almacen.localidad}}" class="form-control" required>
                        </div>
                        <br>
                       
                        <br>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Modificar Almacen
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>